@import url(../css/style.css);

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

header {
  img:hover {
    box-shadow: none;
    transform: none;
  }
}

/* ----------------------------------- Grid-Container ----------------------------------- */


.insta-container {
  margin: 300px auto 150px auto;
  background: repeating-linear-gradient(
    135deg,
    #1a1a1a,
    #1a1a1a 10px,
    #333333 10px,
    #d4be97 20px
  );
  border-radius: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  outline: 2px solid #ccc;
  border: 2px solid gold;
}

.insta-cont {
  width: 100%;
  padding: 5rem;
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 3rem;
  }
  
  [id^="insta-vid-"] {
    aspect-ratio: 1 / 1;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    min-width: 250px;
    min-height: 250px;
    max-width: 300px;
    max-height: 300px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
    border: 2px solid #ccc;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation:  glow 2s infinite;
  }

  #insta-vid-6 {
    max-height: 48.9%;
  }

  #insta-vid-1 { grid-area: 1 / 1 / 2 / 2; }
  #insta-vid-2 { grid-area: 1 / 3 / 2 / 4; }
  #insta-vid-3 { grid-area: 1 / 5 / 2 / 6; }
  #insta-vid-4 { grid-area: 1 / 6 / 2 / 6; }
  #insta-vid-5 { grid-area: 2 / 6 / 3 / 6; }
  #insta-vid-6 { grid-area: 3 / 6 / 5 / 6; }

  [id^="insta-vid-"]:hover {
    transform: scale(1.1);
  }
  #chart:hover {
    transform: scale(1.05);
  }
  
  #chart {
    grid-area: 2 / 1 / 5 / 6;
    width: 100%;
    height: 100%;
    max-width: 100%;
    background: rgba(255, 255, 255, 0.8);
    border: 2px solid #ccc;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
  }
  
  #chart img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
  }
  
  [id^="insta-vid-"],
  #chart {
    animation: slide-in-from-top 1s ease-out, awesome-animation 2s ease-in-out, glow 2s backwards infinite;
  }

  
  /* ----------------------------------- Grid-Container-Items ----------------------------------- */
  
/* ----------------------------------- Media Queries ----------------------------------- */

@media (max-width: 600px) {
  header {
    margin-left: 1.2rem;
  }
  [id^="insta-vid-"] {
    transform: scale(1);
    &:hover {
      transform: scale(1.5);
      z-index: 1001;
    }
  }
  #chart{
    transform: scale(1.2);
    &:hover {
      transform: scale(1.6);
    }
  }
}


@media (min-width: 600px) and (max-width: 1199px) {
  [id^="insta-vid-"] {
    transform: scale(0.7);
    &:hover {
      transform: scale(0.8);
    }
  }
  #chart{
    transform: scale(1.2);
    &:hover {
      transform: scale(1.2);
    }
  }
}

  /* ----------------------------------- Keyframe ----------------------------------- */

  @keyframes glow {
    0% {
      border-color: #ccc;
      box-shadow: 0 0 5px #ccc;
    }
    50% {
      border-color: gold;
      box-shadow: 0 0 20px gold;
    }
    100% {
      border-color: #ccc;
      box-shadow: 0 0 5px #ccc;
    }
  }
@keyframes slide-in-from-top {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  80% {
    transform: translateY(10%);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@media (max-width: 1200px) {
  .insta-container {
    margin: 200px auto 250px auto;
    padding: 5rem;
  }

  .insta-cont {
    padding: 2rem;
    gap: 5rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
  }

  [id^="insta-vid-"] {
    aspect-ratio: 1 / 1;
    max-height: 100%;
  }

  #insta-vid-1 { grid-area: 1 / 1 / 2 / 2; }
  #insta-vid-2 { grid-area: 2 / 1 / 3 / 2; }
  #insta-vid-3 { grid-area: 7 / 1 / 8 / 2; }
  #insta-vid-4 { grid-area: 4 / 1 / 5 / 2; }
  #insta-vid-5 { grid-area: 5 / 1 / 6 / 2; }
  #insta-vid-6 { grid-area: 6 / 1 / 7 / 2; }

  #chart {
    grid-area: 3 / 1 / 4 / 2;
  }
}